name: Cypress Tests with Allure Report

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar depend锚ncias
        run: npm install

      - name: Atualizar JSON com data atual
        run: node cypress/support/createAndUpdateJson.js

      - name: Executar testes com Cypress e Allure
        run: npx cypress run --env allure=true

      #  COPIA o hist贸rico da build anterior
      - name: Baixar gh-pages (煤ltimo relat贸rio)
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: old_reports   # pasta tempor谩ria

      - name: Copiar hist贸rico anterior (se existir)
        run: |
          if ls old_reports/*/history >/dev/null 2>&1; then
            LAST_HISTORY=$(find old_reports -type d -name history | sort | tail -n 1)
            echo "History encontrado em: $LAST_HISTORY"
            cp -r "$LAST_HISTORY" allure-results/history
          else
            echo "Nenhum hist贸rico anterior encontrado."
          fi

      - name: Instalar Allure CLI
        run: npm install -g allure-commandline

      - name: Definir pasta de destino com timestamp
        run: |
          TIMESTAMP=$(date +'%Y-%m-%d_%H-%M-%S')
          echo "REPORT_DIR=allure-report-$TIMESTAMP" >> $GITHUB_ENV

      - name: Gerar Allure Report
        run: |
          allure generate allure-results --clean -o ${{ env.REPORT_DIR }}

      - name: Publicar Allure Report no GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./${{ env.REPORT_DIR }}
          publish_branch: gh-pages
          destination_dir: ${{ env.REPORT_DIR }}

      - name: Adicionar link do report ao resumo
        run: echo " [Allure Report](https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/${{ env.REPORT_DIR }}/)" >> $GITHUB_STEP_SUMMARY